In [1]:
from queries import *
from utils.query_controller import *
import pandas as pd

In [2]:
queries = [
    # QUERY_00,
    # QUERY_01,
    # QUERY_02,
    # QUERY_04,
    # QUERY_05,
    # QUERY_06,
    QUERY_07,
    ]

for _q in queries:
    result = query_controller(_q)
    display(pd.DataFrame(data=result[0], columns=result[1]))

   bank_accounts_open     avg
0                   1  941.53
1                   3  948.28
2                   2  936.47

In [ ]:
# answer question-07 query_03
from pprint import pprint
query_dic = {}
queries = query_03()
for i, query in enumerate(queries):
    result = query_controller(query)
    query_dic[f"{result[1][0]}_unq"] = result[0]
pprint(query_dic)