In [1]:
from queries import *
from utils.query_controller import *
import pandas as pd

In [2]:
result = query_controller(QUERY_00)

In [3]:
df = pd.DataFrame(data=result[0], columns=result[1])

In [6]:
df.head().transpose()

                              0          1          2          3          4
customer_number               1          2          3          4          5
offer_accepted               No         No         No         No         No
reward                Air Miles  Air Miles  Air Miles  Air Miles  Air Miles
mailer_type              Letter     Letter   Postcard     Letter     Letter
income_level               High     Medium       High     Medium     Medium
bank_accounts_open            1          1          2          2          1
overdraft_protection         No         No         No         No         No
credit_rating              High     Medium     Medium       High     Medium
credit_cards_held             2          2          2          1          2
homes_owned                   1          2          1          1          1
household_size                4          5          2          4          6
own_your_home                No        Yes        Yes         No        Yes
average_balance         1160.75     147.25     276.50    1219.00    1211.00
q1_balance               1669.0       39.0      367.0     1578.0     2140.0
q2_balance                877.0      106.0      352.0     1760.0     1357.0
q3_balance               1095.0       78.0      145.0     1119.0      982.0
q4_balance               1002.0      366.0      242.0      419.0      365.0