In [1]:
from queries import *
from utils.query_controller import *
import pandas as pd

In [2]:
queries = [
    QUERY_00,
    QUERY_01,
    QUERY_02,
    QUERY_04,
    QUERY_05,
    QUERY_06,
    QUERY_07,
    QUERY_08,
    QUERY_09,
    QUERY_10,
    QUERY_11,
    QUERY_13,
    QUERY_14,
    QUERY_16,
    QUERY_17
    ]

for _q in queries:
    result = query_controller(_q)
    display(pd.DataFrame(data=result[0], columns=result[1]))

# for question-09 we could say there is a direct correlation

,customer_number,offer_accepted,reward,mailer_type,income_level,bank_accounts_open,overdraft_protection,credit_rating,credit_cards_held,homes_owned,household_size,own_your_home,average_balance,q1_balance,q2_balance,q3_balance,q4_balance
0,4547,No,Points,Letter,Low,1,No,Low,2,1,2,Yes,235.75,1,225,333,384

In [3]:
# answer question-07 query_03
from pprint import pprint
query_dic = {}
queries = query_03()
for i, query in enumerate(queries):
    result = query_controller(query)
    query_dic[f"{result[1][0]}_unq"] = result[0]
pprint(query_dic)

{'credit_cards_held_unq': [(1,), (3,), (4,), (2,)],
 'household_size_unq': [(8,), (9,), (1,), (5,), (2,), (4,), (6,), (3,)],
 'mailer_type_unq': [('Postcard',), ('Letter',)],
 'offer_accepted_unq': [('Yes',), ('No',)],
 'reward_unq': [('Cash Back',), ('Points',), ('Air Miles',)]}

In [ ]:
# question-13 executes differently